@if(favorite){
    <div class="recipe-details-container p-6 flex flex-wrap">
        <div class="w-full md:w-1/2 p-4">
            <img 
                [src]="favorite.imageUrl" 
                alt="{{favorite.title}}" 
                class="rounded-lg shadow-lg w-full max-w-md mx-auto border-2 border-transparent hover:border-purple-700 transition-all duration-300"
            >
        </div>
        <div class="w-full md:w-1/2 p-4">
            <h1 class="text-3xl font-bold text-primary mb-4">{{ favorite.title }}</h1>
            <p class="text-gray-600 mt-2">{{ favorite.description }}</p>
            <div class="grid grid-cols-2 gap-4 mt-6 mb-8">
                <p><strong>Time:</strong> {{ favorite.totalTime }}</p>
                <p><strong>Calories:</strong> {{ favorite.calories }} kcal</p>
                <p><strong>Serves:</strong> {{ favorite.serves }}</p>
                <p><strong>Difficulty:</strong> {{ favorite.difficulty }}</p>
                <p><strong>Cuisine:</strong> {{ favorite.cuisine }}</p>
                <p><strong>Meal Type:</strong> {{ favorite.mealType }}</p>
            </div>
            <div class="relative">
                <mat-accordion class="mt-6">
                    <mat-expansion-panel class="mb-6 shadow-lg">
                        <mat-expansion-panel-header class="bg-gray-50">
                            <mat-panel-title class="font-semibold text-primary"> Ingredients </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="p-4">
                            <div class="grid grid-cols-1 gap-4">
                                @for (ingredient of favorite.ingredients; track $index) {
                                    <div class="flex items-center justify-between border p-3 rounded-lg shadow-sm hover:shadow-md transition-shadow">
                                        <p class="text-sm text-gray-700">{{ ingredient.name }}</p>
                                        @if(!addedIngredients.has(ingredient.id)) {
                                            <mat-icon 
                                                (click)="addIngredientToCart(ingredient.id)" 
                                                class="cursor-pointer hover:text-green-600 transition-colors"
                                            >
                                                shopping_bag
                                            </mat-icon>
                                        } @else {
                                            <mat-icon 
                                                (click)="removeIngredientFromCart(ingredient.id)" 
                                                class="cursor-pointer text-green-500 hover:text-green-600 transition-colors"
                                            >
                                                check_circle
                                            </mat-icon>
                                        }
                                    </div>
                                }
                            </div>    
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="shadow-lg">
                        <mat-expansion-panel-header class="bg-gray-50">
                            <mat-panel-title class="font-semibold text-primary"> Steps </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="p-4">
                            <ol class="list-decimal pl-5 pb-4 space-y-3">
                                @for (step of favorite.steps; track step.id) {
                                    <li class="text-gray-700">{{ step.description }}</li>
                                }
                            </ol>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <div class="flex mt-12 hover:text-blue-700">
                    <a *ngIf="favorite.videoUrl" [href]="favorite.videoUrl" target="_blank" class="video-button flex items-center mt-0">
                        <mat-icon class="mr-2">play_circle</mat-icon> Watch Video: {{favorite.title}}
                    </a>
                    <button 
                        class="absolute mt-10 right-12 bg-purple-500 text-white px-6 py-2 rounded-lg shadow-md hover:bg-purple-600 transition-colors flex items-center"
                        (click)="removeFavorite(favorite.id)">
                            <mat-icon class="mr-2">close</mat-icon>
                            Remove from Favorites
                    </button>

                </div>
            </div>
            
            
        </div>
    </div>
}