<div class="flex mt-32 gap-10">
    <div class="w-3/4">
        <mat-stepper (selectionChange)="onStepChange($event)" #stepper class="bg-white border border-gray-200 shadow-sm">
            <mat-step label="Address">
                <form #addressForm="ngForm" class="full-width-form">
                    <mat-form-field class="full-width">
                        <mat-label>Full Name</mat-label>
                        <input matInput [(ngModel)]="fullName" name="fullName" required />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Country or Region</mat-label>
                        <mat-select [(ngModel)]="address.country" name="country" required >
                            <mat-option *ngFor="let country of countries" [value]="country">
                                {{ country }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Address Line 1</mat-label>
                        <input matInput [(ngModel)]="address.line1" name="line1" required/>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Address Line 2</mat-label>
                        <input matInput [(ngModel)]="address.line2" name="line2" />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Town or City</mat-label>
                        <input matInput [(ngModel)]="address.city" name="city" required/>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>State</mat-label>
                        <input matInput [(ngModel)]="address.state" name="state" required />
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>ZIP Code</mat-label>
                        <input matInput [(ngModel)]="address.zipCode" name="zipCode" required />
                    </mat-form-field>

                    <div class="flex justify-end mt-1">
                        <mat-checkbox [checked]="saveAddress" (change)="onSaveAddressCheckboxChange($event)">
                            Save as default address
                        </mat-checkbox>
                    </div>
                    <div class="flex justify-between mt-6">
                        <button routerLink="/shop" mat-stroked-button>Continue shopping</button>
                        <button matStepperNext mat-flat-button [disabled]="!addressForm.valid">Next</button>
                    </div>
                </form>                
            </mat-step>

            <mat-step label="Shipping">
                <app-delivery></app-delivery>
                <div class="flex justify-between mt-6">
                    <button matStepperPrevious mat-stroked-button>Back</button>
                    <button matStepperNext mat-flat-button [disabled]="!addressForm.valid">Next</button>
                </div>
            </mat-step>
            
              <mat-step label="Confirmation">
                <h3 class="text-lg font-semibold mb-4">Review Your Order</h3>
                <div class="p-4 border border-gray-300 rounded-lg bg-gray-50">
                  <h4 class="font-medium">Shipping Address</h4>
                  <p>{{ fullName }}</p>
                  <p>{{ address.line1 }}, {{ address.line2 }}</p>
                  <p>{{ address.city }}, {{ address.state }} - {{ address.zipCode }}</p>
                  <p>{{ address.country }}</p>
                </div>
                <div class="mt-6 mx-auto">
                    <div class="border-b border-gray-200">
                        <table class="w-full text-center">
                            <tbody class="divide-y divide-gray-200">
                                @for (item of cartService.cart()?.items; track item.productId) {
                                    <tr>
                                        <td class="py-4">
                                            <div class="flex items-center gap-4">
                                                <img src="{{item.pictureUrl}}" alt="product image" class="w-10 h-10">
                                                <span>{{item.productName}}</span>
                                            </div>
                                        </td>
                                        <td class="py-4">
                                            x{{item.quantity}}
                                        </td>
                                        <td class="p-4">{{item.price}} Rs/-</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="checkout-buttons mt-6 flex justify-between">
                  <button matStepperPrevious mat-stroked-button>Back</button>
                  <button mat-flat-button (click)="processPayment()">Pay {{ cartService.totals()?.total }} Rs/-</button>
                </div>
              </mat-step>
              
        </mat-stepper>
    </div>
    <div class="w-1/4">
        <app-order-summary></app-order-summary>
    </div>
</div>