<div class="max-w-screen-2xl mx-auto px-3 mt-32">
    <div class="flex flex-col items-center py-16 justify-center mt-20 rounded-2xl shadow-xl relative">
        <img src="https://res.cloudinary.com/dbwntzehh/image/upload/v1742816980/Culinary%20Realm/Images/home_b0jggx.gif" 
            class="absolute inset-0 w-full h-[600px] object-cover rounded-2xl" alt="home image">
        <div class="flex flex-col p-8 rounded-2xl items-center relative">
            <h1 class="my-6 font-extrabold text-white text-6xl mt-24">
                Welcome to Culinary Realm
            </h1>
            <button
                routerLink="/chefsquarters" 
                class="bg-gradient-to-r from-blue-600 to-cyan-500 font-semibold text-2xl text-white rounded-2xl px-8 py-4 border-2 border-transparent mt-10">Explore Recipes
            </button>
        </div>
    </div>
</div>