@if(favorites.length >0){
    <div class="flex flex-col gap-3">
        <div class="flex justify-between gap-3">
           
        </div>
        <div class="grid grid-cols-4 gap-4"> 
            @for (favorite of favorites; track favorite.id) {
                <app-favorite-item
                    [favorite]="favorite"
                    (removed)="onFavoriteRemoved($event)"
                >
                </app-favorite-item>
            }
        </div>
    </div>
}
@else{
    <div class="flex flex-col items-center justify-center py-12 w-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 text-purple-500 mb-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        
        <p class="text-purple-900 text-xl text-center mt-6 mb-6 font-semibold max-w-md">
            No favorites yet!
            <br>
            Start exploring and add your favorite recipes.
        </p>
        
        <button class="bg-purple-500 text-white px-6 py-3 rounded-lg hover:bg-purple-600 transition duration-300" routerLink="/chefsquarters">
            Browse Recipes
        </button>
    </div>
}
